name: Postman tests

on:
  push:
  workflow_dispatch:

jobs:
  execute-postman-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Recuperer le code
        uses: actions/checkout@v4

      - name: Installer newman
        run: npm install -g newman

      - name: Installer htmlextra reporter
        run: npm install -g newman-reporter-htmlextra

      - name: Executer les tests postman
        run: newman run postman/collection.json -r cli,htmlextra
